#icon{
    height: 85px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 21, 38);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(225, 8, 29);
}
body{
    margin: 0;
}
#noticias{
    display: flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    background-color: rgba(252, 215, 0);
    margin: 45px;
    border-radius: 15px;
    align-items: center;
    
}
.noticia{
    display: inline-block;
    justify-items: center;
    text-align: center;
    margin: 25px;
    background-color:rgba(225, 8, 29) ;
    align-items: center;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 21, 38);
    height: 980px;
    width: 550px;
    padding: 2px;
}
.noticia p{
    font-size: 20;
}
.img_noticia{
    justify-items: center;
    align-items: center;
    height: 480px;
    width: 460px;
    margin: 35px;
    border: solid rgba(0, 21, 38) 20px;
    border-radius: 15px;
}